
@font-face {
	font-family: 'Bespoke-50s';
	src: url('../fonts/Bespoke-50s.eot');
	src: url('../fonts/Bespoke-50s.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Bespoke-50s.woff') format('woff'),
	url('../fonts/Bespoke-50s.ttf') format('truetype'),
	url('../fonts/Bespoke-50s.svg#Bespoke-AJWUQvggsM') format('svg');
}

html,body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color:white;
	font-family: 'Bespoke-50s';
}

#game-screen{
	display: block;
	width:100%;
	height: 100%
}

#throttle-control {
	height: 80px;
	width: 80px;
	position: absolute;
	bottom: 8px;
	right: 8px;
	opacity: .5;
}

#fire-control {
	height: 70px;
	width: 70px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#fire-control img{
	width: 100%;
	height: 100%;
	opacity: .5;
}

#game-over {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	padding: 10px;
	box-sizing: border-box;
}

.hidden {
	display:none;
}

#orientation {
	position: absolute;
	top:0;
	left:0;
}
